<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
    <%- include partials/_header.ejs %>
    </header>
    <% if (user) { %>
    <table class="table">
      <thead>
        <tr>
          <th>Short URLs</th>
          <th>Long URLs</th>
          <!--  Added userID of creator. Maybe didn't have to... -->
          <th>userID of Creator</th>
        </tr>
      </thead>
      <tbody>
        <% for (var url in urls) { %>
        <tr>
          <td><%= url %></td>
          <td><%= urls[url].longURL %></td>
         <!--  Added userID of creator. Maybe didn't have to... -->
          <td><%= urls[url].userID %>
          <td>
            <a href="/urls/<%=url%>">Edit</a>
          </td>
          <td>
            <form method="POST" action="/urls/<%=url%>/delete">
              <input type="Submit" value="Delete"/>
            </form>
          </td>
        </tr>
        <% } %>
        <tr>
          <td colSpan="2">
            <a href="/urls/new">New Tiny URL</a>
          </td>
        </tr>
      </tbody>
    </table>
    <% } else { %>
    <h2>Please log in or register to see the URLs</h2>
    <% } %>
  </body>
</html>