<!-- Page that shows all the URLs that the user has created, along with buttons to edit or delete them. If user isn't logged in, asks them to log in or register. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
    <%- include partials/_header.ejs %>
    </header>
    <% if (user) { %>
    <table class="table">
      <thead>
        <tr>
          <th>Short URLs</th>
          <th>Long URLs</th>
        </tr>
      </thead>
      <tbody>
        <% for (var url in urls) { %>
        <tr>
          <td><%= url %></td>
          <td><%= urls[url].longURL %></td>
          <td>
            <form method="GET" action="/urls/<%=url%>">
              <input type="Submit" value="Edit"/>
            </form>
          </td>
          <td>
            <form method="POST" action="/urls/<%=url%>/delete">
              <input type="Submit" value="Delete"/>
            </form>
          </td>
        </tr>
        <% } %>
        <tr>
          <td colSpan="2">
            <a href="/urls/new">Create a New Short Link</a>
          </td>
        </tr>
      </tbody>
    </table>
    <% } else { %>
    <h4>Please log in or register to see the URLs</h4>
    <% } %>
  </body>
</html>